$primary-blue: #2968b9;
$secondary-blue: #7fb3e4;
$tertiary-blue: #f7f9ff;
$quaternary-blue: #00437a;
$primary-yellow: #ffd100;

//
$primary-gray: rgb(154, 196, 231);
// rgb(221, 230, 238)
$secondary-gray: rgb(221, 230, 238);
$primary-black: #333;
