.container {
  max-width: 1150px;
  margin: auto;
  overflow: hidden;
  padding: 1rem 2rem;
}

// padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}
// margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

.btn {
  display: inline-block;
  color: $primary-blue;
  background: $primary-yellow;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    background: $primary-gray;
    color: $primary-blue;
    border: 1px $primary-blue solid;
  }

  &-light {
    &:hover {
      background: $secondary-gray;
    }
  }
}

.bottom-line {
  border-bottom: 0.15rem #fff solid;
  width: 20rem;
  margin: 0 auto 1rem auto;
  padding-top: 1rem;
}
