@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: $tertiary-blue;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 4.5rem;
  line-height: 1.1;
  padding: 1rem 0;
}

p {
  padding-bottom: 1rem;
}

// Navbar
#main-nav {
  overflow: hidden;
  background: rgba(221, 230, 238, 0.7);
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 2;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 3rem;

    .logo {
      font-size: 2.5rem;
      color: $primary-blue;
    }

    ul {
      display: flex;

      li {
        padding: 1rem 1.2rem;
      }

      a {
        font-size: 1.1rem;
        border-bottom: 3px transparent solid;
        transition: border-color 0.8s;
        padding: 0.2rem 0.5rem;
        color: $primary-blue;
        font-weight: 700;

        &.survey_label {
          background: $primary-yellow;
          padding: 0.4rem 0.9rem;
          border-radius: 5rem;
        }

        &:hover {
          border-color: $primary-blue;
          color: darken($primary-blue, 20%);
        }
      }
    }
  }
}

// Header
#header-home {
  .header-content {
    height: 100vh;
    background: $primary-gray;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      background: url("../img/abstract_final.png") no-repeat center center/cover;
      position: absolute;
      width: 100vw;
      height: 80vh;
      left: 0;
      bottom: 2rem;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 0.85fr;
      text-align: start;
      height: 100vh;
      align-items: center;
      justify-content: center;

      &-1 {
        position: relative;
        padding: 0 1rem;
        z-index: 1;

        &::after {
          position: absolute;
          content: "";
          background: $primary-blue;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          opacity: 0.3;
          border-radius: 1rem;
          // right down spread blur
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
        }

        h1 {
          font-weight: bold;
          color: $primary-yellow;
        }

        p {
          max-width: 40ch;
          font-weight: 500;
        }
      }
    }
  }
}

// about
#about {
  background: $quaternary-blue;
  // height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;

  .container {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    // height: 190%;
    // max-width: 1150px;
    // grid-auto-rows: minmax(20rem, auto);
    position: relative;
    gap: 1rem;

    &-1 {
      text-align: start;
      padding: 5rem 1rem 1rem 1rem;

      &::after {
        position: absolute;
        content: "";
        // make part of main blue background
        background: url("../img/bell-white-transparent.png") no-repeat center
          center/cover;
        top: 15%;
        left: 20%;
        height: 80%;
        width: 14rem;
        opacity: 0.15;
        pointer-events: none;
      }

      .bottom-line {
        margin: 0;
        width: 5rem;
        padding: 0;
      }

      .about-content {
        padding-top: 3rem;
        padding-bottom: 3rem;
        h1 {
          padding-top: 4rem;
          font-size: 2.5rem;
        }

        p {
          a {
            text-decoration: underline;

            &:hover {
              color: $secondary-blue;
            }
          }
        }
      }
    }

    &-2 {
      .about-photo {
        background: url("../img/mug-2.png") no-repeat center center/cover;
        opacity: 0.9;
        height: 19rem;
        width: 19rem;
        margin: 16rem 1rem 1rem 2rem;
      }

      .socials {
        display: flex;
        margin-left: 2rem;
        // align-items: center;
        justify-self: center;
        align-content: center;
        flex-direction: row;
        gap: 1rem;

        i {
          font-size: 2rem;
        }
      }
    }
  }
}

// survey
#questions {
  background: $primary-gray;
  color: $primary-black;
  // position: relative;

  .container {
    // z-index: 20;
    max-width: 800px;
    padding: 8rem 4rem;

    .instructions {
      h2 {
        padding-bottom: 1rem;
      }
    }

    form {
      .question-container {
        width: 100%;
        height: auto;
        background: $secondary-gray;
        padding: 1.5rem;
        border-radius: 1.5rem;
        border: none;

        p {
          padding-top: 1rem;
          padding-bottom: 0;
          font-size: 1.1rem;
          // letter-spacing: 1px;
          line-height: 2rem;
        }

        .answers {
          padding-top: 2rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1.5rem;

          .answer {
            input[type="checkbox"],
            input[type="radio"] {
              display: none;
            }

            label,
            input[type="text"],
            textarea {
              background: $tertiary-blue;
              cursor: pointer;
              display: block;
              border-radius: 1.2rem;
              padding: 0.8rem 1rem 0.8rem 1rem;
              font-size: 1.1rem;
              text-align: start;
              box-shadow: 2px 2px 6px -2px rgba(175, 175, 175, 0.86);
              transition: background 0.3s ease-in;

              // hover for checkbox
              &:hover {
                border: 1px solid $quaternary-blue;
                background: darken($color: $tertiary-blue, $amount: 10%);
              }
            }

            input[type="text"] {
              border: none;
              width: 100%;
              height: 100%;

              &:focus {
                outline-color: $primary-blue;
                background: lighten($color: $primary-yellow, $amount: 15%);
              }
            }

            textarea {
              border: none;
              width: 100%;
              max-width: 21rem;
              min-height: 3.2rem;
              height: 3.2rem;

              &:focus {
                outline-color: $primary-blue;
                background: lighten($color: $primary-yellow, $amount: 15%);
              }
            }

            input[type="radio"] + label {
              position: relative;
              z-index: 1;

              &:hover {
                color: $tertiary-blue;
                transition: color 0.3s ease-out;
                border: none;
                background: $tertiary-blue;

                // radio button fill animation
                &::before {
                  right: 0;
                }
              }

              // button fill animation
              &::before {
                content: "";
                position: absolute;
                background: $quaternary-blue;
                border-radius: 1.2rem;
                bottom: 0;
                left: 0;
                right: 100%;
                top: 0;
                z-index: -1;
                transition: right 0.3s ease-in;
              }
            }

            input[type="checkbox"]:checked + label,
            input[type="radio"]:checked + label {
              background-color: $quaternary-blue;
              color: $tertiary-blue;
            }
          }
        }

        .answers.feedback {
          display: block;

          textarea {
            max-width: 100%;
          }
        }
      }

      .submit-holder {
        align-items: center;
        align-content: center;
        text-align: center;
        -webkit-appearance: none;

        input {
          width: 40%;
          font-size: 1.1rem;
          outline: none;
          border: none;

          &:hover {
            border: 1px $primary-blue solid;
          }
        }
      }
    }
  }
}

// impport media queries
@import "media";
